html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    font-family: 'Ubuntu Mono';

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#stats {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

hr {
    border: 0;
    border-bottom: 1px solid #cccccc;
}
.output-frame {
    width: 70%;
    height: 100%;
}

.sidebar {
    width: 30%;
    height: 100%;
    border-left: 1px solid gray;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}
