html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    font-family: 'Ubuntu Mono';

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#stats {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

hr {
    border: 0;
    border-bottom: 1px solid #cccccc;
}
.output {
    width: 70%;
    height: 100%;
}

.sidebar {
    width: 30%;
    height: 100%;
    border-left: 1px solid gray;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

.sidebar .section {
    margin-bottom: 40px;
}

.composition-picker .slot {
    width: 140px;
    background: black;
    display: inline-block;
    height: 90px;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

.composition-picker .slot img {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.composition-picker.dragover {
    background: #5183A6;
}

.audio-visualizer {
    background: black;
}

.dg.main .close-button {
    position: relative !important;
}

.audio-toggle {
}

.signal-set {
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(20, 20, 20, 0.7);
    margin: 10px;
}

.add-button {
    margin: 10px;
}

.signal-set.hidden .stack {
    display: none;
}

.signal {
    margin: 10px;
}

.signal-set .label input {
    font-family: 'Ubuntu Mono';
    color: white;
    background: transparent;
    border: 0;
    font-size: 30px;
    width: 80%;
    padding: 0;
    margin: 0;
}

.signal[data-ui-type=boolean], .signal[data-ui-type=color] {
    display: inline-block;
    width: 20%;
}

.slider {
    color: black;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,0.3);
}

.slider .level {
    width: 50%;
    height: 100%;
    opacity: 0.6;
    background: white;
}

.slider:hover .level {
    opacity: 1;
}

.label {
    font-size: 30px;
    font-weight: 500;
}

select {
    background-image: transparent;
    background: rgba(20, 20, 20, 0.7);
    color: white;
    -webkit-appearance: none;
    border: 0;
    padding: 14px;
    padding-left: 18px;
    border-radius: 0;
    width: calc(100% - 20px);
    display: block;
    font-size: 20px;

    font-family: 'Ubuntu Mono';
}

.popup {
    position: absolute;
    background: white;
    border: 1px solid rgba(255,255,255,0.3);
}

.popup .binding-label {
    font-size: 14px;
    background: black;
    color: #EEEEEE;
}

.popup .binding-row {
    cursor: pointer;
    font-size: 20px;
}

.popup .binding-row:hover {
    background: rgba(0,0,0,0.3);
}

.arrow {
    margin: 8px;
    margin-top: 18px;
    float:left;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 15px solid rgba(255,255,255,0.4);
    -webkit-transition: -webkit-transform .2s;
}


.hidden .arrow {
    margin-right: 3px;
    margin-top: 12px;
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 15px solid rgba(255,255,255,0.4);
}

.close-button:before {
    float: right;
    margin: 12px;
    margin-top: 8px;
    content: "✖";
}

.vjs-button {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,0.3);
}

.vjs-button.active {
    background: white;
}

.tab-set {
    margin-bottom: 30px;
    background: gray;
}

.tab-set .contents > div {
    padding-bottom: 15px;
}

.tab-set .labels {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background: black;
}

.tab-set .label {
    padding: 10px;
    cursor: pointer;
}

.tab-set .label {
    color: gray;
}
.tab-set .label.active {
    background: gray;
    color: white;
}