.dragging {
  opacity: 0.3;
}

.signal-set {
  background: #343434;
  margin: 10px;

  .label {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
  }

  .stack {
    padding-bottom: 10px;
  }

  &.hidden .stack {
    display: none;
  }

  .signal {
    margin: 10px;
  }

  .label input {
    font-family: 'Ubuntu Mono';
    color: white;
    background: transparent;
    border: 0;
    font-size: 20px;
    width: 80%;
    padding: 0;
    margin: 0;
  }
}

.add-button {
  margin: 10px;
  background-image: transparent;
  background: rgba(20, 20, 20, 0.3);
  color: white;
  -webkit-appearance: none;
  border: 0;
  padding: 10px;
  padding-left: 18px;
  border-radius: 0;
  width: calc(100% - 20px);
  display: block;
  font-size: 20px;

  font-family: 'Ubuntu Mono';
}